        body {
            margin: 0;
            padding: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        
        .banner {
            background-image: url(../img/bk1.jpg);
            width: 100vw;
            height: 91vh;
        }
        
        .navbar {
            display: inline-block;
            background-color: #02365d;
            width: 100vw;
            height: 9vh;
            opacity: 0.7;
        }
        
        .navbar:hover {
            height: 10vh;
            opacity: 0.9;
            background-color: #F09C33;
        }
        
        .footer {
            position: fixed;
            bottom: 0px;
            opacity: 0.9;
            background-color: #02365d;
            width: 100vw;
            height: 9vh;
            justify-content: center;
            display: flex;
            color: white;
        }
        
        .navbar span {
            color: white;
            font-size: 3vh;
            display: flex;
            position: absolute;
            top: 2.5%;
            margin-left: 3%;
        }
        
        .navbar span:hover {
            color: #02365d;
            font-size: 4vh;
        }
        
        .navbar ul {
            color: white;
            display: inline-block;
            display: flex;
            justify-content: center;
            margin-top: 0.1;
        }
        
        .navbar button a {
            color: white;
            text-decoration: none;
        }
        
        .navbar button a:hover {
            color: #02365d;
            text-decoration: none;
        }
        
        .navbar ul li {
            list-style-type: none;
            margin: 20px;
            width: 10vw;
        }
        
        .navbar ul li a {
            color: white;
            text-decoration: none;
        }
        
        .navbar ul li:hover {
            color: #02365d;
            font-size: 20px;
            text-decoration: underline;
        }
        
        .navbar .cadastro {
            color: #F09C33;
            font-size: 3vh;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 2.5%;
            margin-left: 81%;
            background-color: transparent;
            border-style: solid;
            border-radius: 20px;
            border-color: #F09C33;
        }
        
        .navbar .cadastro:hover {
            border-color: #02365d;
        }
        
        .navbar .login {
            color: #F09C33;
            font-size: 3vh;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 2.5%;
            margin-left: 90%;
            background-color: transparent;
            border-style: solid;
            border-radius: 20px;
            border-color: #F09C33;
        }
        
        .navbar .login:hover {
            border-color: #02365d;
        }
        
        .container {
            background-color: white;
            width: 100vw;
            height: 100vh;
        }
        
        .contai {
            margin-left: 2.6%;
            margin-top: 5%;
            display: inline-block;
            justify-content: center;
            width: 30vw;
            height: 30vh;
            background-color: #02365d;
        }
        
        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }
        
        .overlay:target {
            visibility: visible;
            opacity: 1;
        }
        
        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }
        
        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }
        
        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
        
        .popup .close:hover {
            color: #06D85F;
        }
        
        .popup .content {
            max-height: 30%;
            overflow: auto;
        }
        
        @media screen and (max-width: 700px) {
            .box {
                width: 70%;
            }
            .popup {
                width: 70%;
            }
        }
        
        .content img {
            width: 50px;
            justify-content: space-between;
            display: inline-flex;
            margin: 3%;
        }
        
        .content a {
            margin: 3%;
        }
        
        .popup .content {
            display: flex;
            justify-content: center;
        }
        
        .suporte {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }
        
        .suporte:target {
            visibility: visible;
            opacity: 1;
        }
        
        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }
        
        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }
        
        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
        
        .popup .close:hover {
            color: #06D85F;
        }
        
        .popup .content {
            max-height: 30%;
            overflow: auto;
        }
        
        @media screen and (max-width: 700px) {
            .box {
                width: 70%;
            }
            .popup {
                width: 70%;
            }
        }
        
        .contai .container_descricao {
            background-color: #F09C33;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            font-size: 100%;
        }